django==1.11.15
celery
django_celery_results
six
future
django-gfiles==0.02
django-galaxy==0.02
django-mbrowse==0.02
django-misa==0.02
django-mogi==0.02
Sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
